- @question.answers.order("created_at").each do |answer|
	- if user_signed_in? and answer.user == current_user 
		%hr
		.editable_answer{ data: {answer_id: answer.id }, title: 'click to edit'}
			= answer.body
		= simple_form_for [@question,answer], remote: true, html: {id: "answer_#{answer.id}", class: "editable_answer_form"} do |f|
			= f.input :body, label: false
			= f.button :submit, class: 'tiny'
			= f.button :submit, 'Cancel', class: 'alert tiny'
	- else
		%hr
		= answer.body