- if parent.comments.exists?
  .comment_mark
    %i comments:
  %br
  - if parent.comments.persisted.count > 3
    .hidden_comments{id: "comments_#{parent.class}_#{parent.id}"}
      = link_to 'hide', '', class: "hide_comments", data: { parent_id: "#{parent.class}_#{parent.id}" }
      %br
      - parent.comments.first(parent.comments.count - 3).each do |comment|
        .comment{ id: "comment_#{comment.id}", style: 'float: right' }= comment.body
        %hr
    = link_to 'show all', '', class: "show_comments", data: { parent_id: "#{parent.class}_#{parent.id}" }, id: "show_comments_link_#{parent.class}_#{parent.id}"
    %br
  - parent.comments.persisted.last(3).each do |comment|
    .comment{ id: "comment_#{comment.id}" }= comment.body
    - if comment != parent.comments.persisted.last
      %hr