.row.collapse
  = simple_form_for :search, url: search_find_path, method: :get do |f|
    .small-10.columns
      = f.input :query, as: :search, label: false, placeholder: 'Find questions...'
    .small-2.columns
      = f.submit 'Go', class: 'button postfix'

-unless user_signed_in?
  = link_to 'Sign in', new_user_session_path 
  or
  = link_to 'Sign up', new_user_registration_path
  in order to ask, answer questions and not only 
  %br

= link_to 'Ask your question', new_question_path if can?(:create, Question)

.questions
  -@questions.each do |q| 
    %p= link_to q.title, question_path(q), id: "question_#{q.id}"

= subscribe_to '/questions'