.question_errors
%h2= @question.title
%h3= @question.body

- if user_signed_in? and current_user == @question.user
	.floatl
		= link_to 'Edit'
		= link_to 'Delete', question_path(@question), method: :delete
	.edit_question
	= simple_form_for @question, remote: true do |f|
		= f.input :title
		= f.input :body
		= f.button :submit

.answers
	= render 'answers'

.answer_errors{ id: "new_answer_error" }

- if user_signed_in?
	= simple_form_for [@question, @answer], remote: true do |f|
		= f.input :body, label: 'Your answer:' 
		= f.button :submit 