$(".accepted").removeClass('accepted').addClass('accept');
$('#accept_answer_<%= @answer.id %>').toggleClass('accepted', <%= @question.accepted_answer ? true : false %>);
$("#<%= @answer.id %>").append('<span class="<%= @question.accepted_answer ? "success" : "secondary" %> label">Answer has been <%= @question.accepted_answer ? "accepted" : "reaccepted" %> </span>');
$('.label').fadeOut(2000);
$(document).ready(ready);
$(document).on('page:load',ready);