<h2>Send confirmation instructions</h2>

<%= simple_form_for(@user, url: confirm_auth_path, html: { method: :post }) do |f| %>
  <%= f.error_notification %>
  <%= f.full_error :confirmation_token %>
  <div class="form-inputs">
    <%= f.input :email, required: true, autofocus: true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Send confirmation instructions" %>
  </div>
<% end %>

