<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "StackOverflow" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class="icon-bar five-up">
      <%= link_to  root_path, :class => 'item' do %>
        <%= image_tag("home.png") %>
      <% end %>
      <a class="item">
        <i class="fi-bookmark"></i>
      </a>
      <a class="item">
        <i class="fi-info"></i>
      </a>
      <a class="item">
        <i class="fi-mail"></i>
      </a>

      <%= link_to  destroy_user_session_path, :class => 'item', method: :delete do %>
        <%= image_tag("exit.png") %>
      <% end %>
    </div>
    
    <div class='row'> 
      <p class='notice'><%= notice %></p>
      <p class='alert'><%= alert %></p>
      <%= yield %>
    </div>

    <%= javascript_include_tag "application" %>
  </body>
</html>